{{- $ct := .Params.content_type | default "commentary" -}}
{{- $label := "" -}}
{{- if eq $ct "news" -}}{{- $label = "NEWS" -}}{{- end -}}
{{- if eq $ct "satire" -}}{{- $label = "SATIRE" -}}{{- end -}}
{{- if eq $ct "parody_column" -}}{{- $label = "PARODY" -}}{{- end -}}
{{- if eq $ct "commentary" -}}{{- $label = "COMMENTARY" -}}{{- end -}}
{{- if eq $ct "analysis" -}}{{- $label = "ANALYSIS" -}}{{- end -}}
{{- if eq $ct "kids_story" -}}{{- $label = "KIDS STORY &mdash; SPEEDEET AND WILAR" -}}{{- end -}}
<span class="tw-badge tw-badge-{{ $ct }}">{{ $label | safeHTML }}</span>